<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>group6.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>group6.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>group6.controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>group6.controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>group6.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>group6.controller.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>group6.controller.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>group6.controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestServlet</servlet-name>
        <servlet-class>group6.controller.ViewRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <servlet-class>group6.controller.ViewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffServlet</servlet-name>
        <servlet-class>group6.controller.ViewStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>group6.controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>group6.controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>group6.controller.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllServiceServlet</servlet-name>
        <servlet-class>group6.controller.ViewAllServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceServletTest</servlet-name>
        <servlet-class>group6.controller.AddServiceServletTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStaffServlet</servlet-name>
        <servlet-class>group6.controller.LoadStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>group6.controller.EditPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPricingServlet</servlet-name>
        <servlet-class>group6.controller.ViewPricingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDiamondServlet</servlet-name>
        <servlet-class>group6.controller.CheckDiamondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineCheckServlet</servlet-name>
        <servlet-class>group6.controller.OnlineCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineValuationServlet</servlet-name>
        <servlet-class>group6.controller.OnlineValuationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRedirectServlet</servlet-name>
        <servlet-class>group6.controller.CheckRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestFormServlet</servlet-name>
        <servlet-class>group6.controller.ViewRequestFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitRequestFormServlet</servlet-name>
        <servlet-class>group6.controller.SubmitRequestFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestServlet</servlet-name>
        <url-pattern>/ViewRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerServlet</servlet-name>
        <url-pattern>/ViewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffServlet</servlet-name>
        <url-pattern>/ViewStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllServiceServlet</servlet-name>
        <url-pattern>/ViewAllServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceServletTest</servlet-name>
        <url-pattern>/AddServiceServletTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStaffServlet</servlet-name>
        <url-pattern>/LoadStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/EditPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPricingServlet</servlet-name>
        <url-pattern>/ViewPricingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDiamondServlet</servlet-name>
        <url-pattern>/CheckDiamondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineCheckServlet</servlet-name>
        <url-pattern>/OnlineCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineValuationServlet</servlet-name>
        <url-pattern>/OnlineValuationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRedirectServlet</servlet-name>
        <url-pattern>/CheckRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestFormServlet</servlet-name>
        <url-pattern>/ViewRequestFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitRequestFormServlet</servlet-name>
        <url-pattern>/SubmitRequestFormServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
